{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <form class="" action="{{ album.id }}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="class=btn btn-outline-light me-2">Select</button>
      <button type="button" onclick="window.location.href={% url 'edit_album' %}" class="class=btn btn-outline-light me-2">Albums</button>
    </form>
  </div>
{% else %}
<!--  {% url 'home' %}-->
{% endif %}
{% endblock %}